* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    background-color: black;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#one {
    background-color: rgb(48, 48, 48);
    ;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;

}

.left {

    display: flex;
    padding: 9px 0px 0px 25px;
    box-sizing: border-box;

}

.ones img {
    margin: 4px 0px 0px -7px;
}

.twos img {
    margin: 2px 0px 0px 3px;
}

.threes img {
    margin: 3px 0px 0px 3px;
}

.fours img {
    margin: 5px 0px 0px 7px;
}


.fives img {
    margin: 2px 0px 0px 2px;
}

.right {
    display: flex;
    margin: -4px 34px 2px 2px;
    box-sizing: border-box;
}

.first {
    display: flex;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 32px;
    background-color: #fff;
}

.logo {
    padding: 3px 0;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 3px 0;
}

.navLinks {
    display: flex;
    gap: 22px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navLinks li {
    position: relative;
}

.navLinks li a {
    color: black;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.3s;
}

.navLinks li a:hover {
    font-weight: 800;
}

.navLinks li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: rgb(254, 189, 25);
    transition: width 0.3s;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.navLinks li a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .navbar {
        padding: 0px 10px;
    }

    .navLinks {
        display: none;
        position: absolute;
        top: 100%;
        left: 60%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        width: 38%;
        max-height: 300px;
        padding: 10px 14px;
        border: 1px solid rgb(173, 170, 170);
        font-size: 10px;
        z-index: 10;
    }

    .navLinks li a::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: rgb(254, 189, 25);
        transition: width 0.3s;
        position: absolute;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
    }

    .navLinks.active {
        display: inline;
        font-size: 10px;
    }

    .logo img {
        height: 35px;
    }

    .menu-icon {
        display: flex;
    }

    .hero {
        position: relative;
        z-index: 1;
    }
}


/* HERO MAIN  */


/* -------------------------------advantages--------------------------------- */
.adv {
    margin: 8% 0px 5% 0px;
    margin-top: 5%;
    margin-bottom: 2%;
}

@media (max-width: 600px) {
    .adv {
        margin-top: 20%;
    }
}

.advx {
    text-align: center;
    padding: 0px 24%;
}


.serAdv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 28px;
    justify-content: center;
    padding: 0 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

@media (max-width: 850px) {
    .serAdv {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 950px) and (min-width: 850px) {
    .serAdv {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .serAdv {
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 0;
        text-align: center;
        align-items: center;
    }

    .mainX {
        width: 100%;
        max-width: 250px;
        height: 250px;
        margin: 0 auto;
    }
}




/* ABOUT US */



.sharp-line {
    width: 97%;
    height: 4px;
    margin-top: 6%;
    background: linear-gradient(to right,
            transparent,
            rgb(198, 199, 201) 50%,
            transparent);
    position: relative;
}



.pop {

    float: right;

}


.non {
    position: relative;
    float: right;
}

.pol {
    position: absolute;
    top: 5%;
    left: 1%;

}

.neww {
    float: right;
    margin-top: 2%;
    padding-right: 4px;

}

.para {
    margin-top: 8%;
    padding: 2px 12px 2px 12px;
    width: auto;
    height: 400px;
    margin-left: 35px;
    background: rgb(242, 242, 242);
}

.abBut {
    margin-top: 3%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 8px 18px;
    background-color: rgb(254, 189, 25);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 600;
    font-size: 12px;
}

/* OUR SERVICES */

.services {
    width: auto;
    height: 200px;
    background-color: aqua;
}